.circle {
  border-radius: 50%;
}

area {
  cursor: pointer
}

.data {
  background-color: var(--alert) !important;
}

.active {
  background-color: var(--primary) !important;
}

.data {
  box-shadow: 0 0 0 rgba(224, 101, 113, 0.9);
  animation: pulse 2s infinite;
}

.data:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(224, 101, 113, 0.9);
  }
  70% {
    box-shadow: 0 0 0 7px rgba(224, 101, 113, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(224, 101, 113, 0);
  }
}