.ct-default, .ct-default .toast-header {
  background-color: var(--primary);
  color: black;
}

.ct-alert, .ct-alert .toast-header {
  background-color: var(--error);
  color: black;
}

.toast.close {
  float: right;
}

.toast {
  border-radius: 0;
}

.toast-header {
  display: block;
}

.toast-position {
  position: fixed;
}

.top-left {
  top: 50px;
  left: 50px;
}

.top-right {
  top: 50px;
  right: 50px;
}

.bottom-left {
  bottom: 50px;
  left: 50px;
}

.bottom-right {
  bottom: 50px;
  right: 50px;
}