.therapy-method {
  padding: 20px;
  /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25); */
  border: 1px solid rgb(207, 207, 207);
  margin-bottom: 10px;
}

.therapy-method:hover {
  cursor: pointer;
  background-color: rgb(228, 228, 228);
}

.therapy-method.selected:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
}

.selected {
  background-color: var(--primary);
}

.margin {
  margin-left: 15px;
  margin-right: 15px;
}